<div class="row">
  <div class="col-sm">
    <h2>
      {{ header }}
    </h2>
  </div>
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="input.name" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" *ngIf="!isEdit" (click)="onAdd()"> เพิ่ม </button>
    <button class="btn btn-outline-secondary" *ngIf="isEdit" (click)="onUpdate()"> แก้ไข </button>
  </div>
</div>
